@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    max-width: 100vw !important;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* CUSTOM CSS */
:root {
    --primary: #36443E;
    --secondary: #FAFF00;
    --tertiary: #4F9E50FF;
}

.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-tertiary {
    background-color: var(--tertiary);

}

.text-tertiary {
    color: var(--tertiary);

}

#simulator {
    margin-top: -3em;
}

#simulator img {
    min-width: 50vw;
}

table td, table th, table tfoot {
    border: 1px solid black;
    padding: 1em;
}

#navLogo {
    width: 100%;
    max-width: 180px;
}

.MuiToolbar-root button {
    color: black !important;
    font-size: 0.7em;
}

footer img {
    max-width: 25%;
}

/* navbar */
.socialIcons {
    color: gray;
    border-left: 1px solid lightgray;
}

.socialIcons a {
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.facebookIcon:hover {
    color: white;
    background-color: #37589b;
}

.whatsappIcon:hover {
    color: white;
    background-color: #00e676;
}

.mailIcon:hover {
    color: white;
    background-color: #9fae37;
}

.linkedinIcon:hover {
    color: white;
    background-color: #419cca;
}

.instagramIcon:hover {
    color: white;
    background-color: #a67658;
}

.searchBtn:hover {
    background-color: transparent !important;
}

header button, #menu-appbar button, .MuiToolbar-root button {
    text-transform: inherit !important;
    color: #808080 !important;
    font-weight: 500;
}

header button {
    font-size: 0.8em !important;
}


#mapContainer .mdTable {
    position: absolute;
    top: 30%
}

#mapContainer img {
    min-width: 300px;
}

#carousel {
    max-width: 100%;
    min-height: 100%;
}

.carousel-root {
    height: 100%;
    object-fit: contain;
}

.slider-wrapper {
    height: 100% !important;
}

.slide, .slide > div {
    min-height: 100% !important;
}

.slide {
    margin-bottom: 30px;
}

.carousel.carousel-slider .control-arrow:hover {
    background-color: transparent;
}

#breadcrumb svg, #breadcrumb mask {
    scale: 0.5;
    aspect-ratio: 1/1;
}

header a {
    margin: auto;
}

.switchWrapper {
    width: 200px;
    height: 37px;
    min-width: 200px;

    label {
        font-weight: bolder;
    }
}

#loader img {
    animation: loaderAnimation 2s linear infinite;
    animation-timing-function: ease-in-out;
}

/* Bulb loader animation */
/* Inizializzazione */
#licht {
    opacity: 1;
    transform: scale(1);
    transform-origin: 50% 50%;
    animation: scale-animation 1s infinite alternate;
}

#glow {
    opacity: 1;
    transform-origin: 50% 50%;
    animation: glow-animation 1s infinite alternate;
}

.bulb-animation #bulb_body {
    animation: bulb-body-animation 5s infinite alternate;
}

/* Definizione dell'animazione */
@keyframes scale-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes glow-animation {
    0% {
        stroke: var(--primary);
    }
    50% {
        stroke: var(--primary);
    }
    100% {
        stroke: var(--primary);
    }
}

@keyframes bulb-body-animation {
    0% {
        fill: var(--secondary);
        fill-opacity: 0.6;
    }
    /*10% {*/
    /*    fill: var(--secondary);*/
    /*    fill-opacity: 0.5;*/
    /*}*/
    50% {
        fill: var(--secondary);
        fill-opacity: 1;
    }
    /*90% {*/
    /*    fill: var(--secondary);*/
    /*    fill-opacity: 0.5;*/
    /*}*/
    100% {
        fill: var(--secondary);
        fill-opacity: 0.6;
    }
}

/* ************************************************************************************************** */

.resultSwitchWrapper {
    label {
        font-weight: bold;
    }

    height: 37px;
}

/* TABELLA RISULTATI */
.resultTable {
    /*font-family: 'Arial', sans-serif;*/
    /*margin: 20px;*/

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }


    th, td {
        border: 0 !important;
        text-align: center;
    }

    thead tr:nth-child(2) {
        font-size: 0.7em;
        font-weight: bold;
    }

    /* var(--tertiary) but opacized*/
    /*tbody tr:nth-child(odd) {*/
    /*    background-color: rgba(79, 158, 80, 0.25);*/
    /*}*/

    /*td:first-child {*/
    /*    font-weight: bold;*/

    /*}*/

    .community-header th {
        font-weight: normal;
        background-color: transparent;
        /*padding-bottom: 0;*/
        /*padding-top: 0;*/
        align-content: flex-end;
        padding: 0 3%;
    }

    .community-header th:nth-child(1) {
        text-align: left;
        padding: 0;

        div {
            width: 80%;
            font-size: 0.9em;

        }
    }

    .community-header th:not(:nth-child(1), :nth-child(3), :nth-child(5)) {
        color: white;
        border-radius: 200px 200px 0px 0px;
        /*border-radius: 280% 280% 0px 0px;*/
        background-color: var(--tertiary);
    }

    /* var(--tertiary) but opacized  ****** REPLACED HERE BELOW ****** */
    /*tbody tr:nth-child(odd) {*/
    /*    background-color: rgba(79, 158, 80, 0.25);*/
    /*}*/


    tbody {
        font-weight: bold;

        tr:nth-child(odd) {
            td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(8), td:nth-child(9) {
                background-color: rgba(79, 158, 80, 0.25);
            }
        }

        tr:nth-child(even) {
            td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(8), td:nth-child(9) {
                background-color: rgb(243 244 246);
            }
        }

        td:nth-child(2), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(8), td:nth-child(9) {
            border: 1px solid black !important;
        }
    }
}

.resultTable.byVolume {


    .community-header th:not(:nth-child(1), :nth-child(3), :nth-child(5)) {
        color: white;
        border-radius: 200px 200px 0px 0px;
        /*border-radius: 280% 280% 0px 0px;*/
        background-color: var(--primary);
    }

    /* var(--tertiary) but opacized  ****** REPLACED HERE BELOW ****** */
    /*tbody tr:nth-child(odd) {*/
    /*    background-color: rgba(79, 158, 80, 0.25);*/
    /*}*/


    tbody {
        font-weight: bold;

        tr:nth-child(even) {
            td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(8), td:nth-child(9) {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        tr:nth-child(odd) {
            td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(8), td:nth-child(9) {
                background-color: rgb(243 244 246);
            }
        }

        td:nth-child(2), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(8), td:nth-child(9) {
            border: 1px solid black !important;
        }

        td:nth-child(2), td:nth-child(3) {
            background-color: rgba(255, 0, 0, 20%) !important;
        }

        td:nth-child(5), td:nth-child(6) {
            background-color: rgba(250, 255, 0, 20%) !important;
        }

        td:nth-child(8), td:nth-child(9) {
            background-color: rgba(79, 158, 80, 20%) !important;
        }
    }
}

.resultTable.mobile > div {
    width: 100%;
    /*margin: 0 auto;*/

    .MuiSelect-select {
        padding-top: 0.2em !important;
        padding-bottom: 0.2em !important;
    }
}

#mobileTable {
    .community-header th:nth-child(2) {
        background-color: var(--primary);
        padding: 4%;
    }

    tr:nth-child(even) {
        td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(8), td:nth-child(9) {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    tr:nth-child(odd) {
        td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5), td:nth-child(6), td:nth-child(8), td:nth-child(9) {
            background-color: rgb(243 244 246);
        }
    }

    td.tableRed {
        background-color: rgba(255, 0, 0, 20%) !important;
    }

    td.tableYellow {
        background-color: rgba(250, 255, 0, 20%) !important;
    }

    td.tableGreen {
        background-color: rgba(79, 158, 80, 20%) !important;
    }
}

#disclaimer {
    background-color: rgba(79, 158, 80, 0.25)
}


body > div.pac-container.pac-logo::after {
    display: none !important;
}