@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    max-width: 100vw !important;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* CUSTOM CSS */
:root {
    --primary: #36443E;
    --secondary: #FAFF00;
    --tertiary: #4F9E50FF;
}

.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.text-tertiary {
    color: var(--tertiary);

}

.bg-secondary {
    background-color: var(--secondary);
}

#simulator {
    margin-top: -3em;
}

#simulator img {
    min-width: 50vw;
}

.bg-green-custom {
    background-color: var(--tertiary);
}

table td, table th, table tfoot {
    border: 1px solid black;
    padding: 1em;
}

#navLogo {
    width: 100%;
    max-width: 180px;
}

.MuiToolbar-root button {
    color: black !important;
    font-size: 0.7em;
}

footer img {
    max-width: 25%;
}

/* navbar */
.socialIcons {
    color: gray;
    border-left: 1px solid lightgray;
}

.socialIcons a {
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.facebookIcon:hover {
    color: white;
    background-color: #37589b;
}

.whatsappIcon:hover {
    color: white;
    background-color: #00e676;
}

.mailIcon:hover {
    color: white;
    background-color: #9fae37;
}

.linkedinIcon:hover {
    color: white;
    background-color: #419cca;
}

.instagramIcon:hover {
    color: white;
    background-color: #a67658;
}

.searchBtn:hover {
    background-color: transparent !important;
}

header button, #menu-appbar button, .MuiToolbar-root button {
    text-transform: inherit !important;
    color: #808080 !important;
    font-weight: 500;
}

header button {
    font-size: 0.8em !important;
}
